.Container {
  min-height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
  justify-content: center;
}

.Wrapper {
  width: 90%;

  .Right {
    position: sticky;
    top: 100px;
    max-height: 400px;
  }
}

.TextWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  height: 100%;
}

.head,
.body {
  display: flex;
}

.head {
  align-items: center;
}

.column {
  flex: 1;
}

.column:nth-child(1) {
  flex: 2;
}
.column:nth-child(2) {
  flex: 1.5;
}

.deleteItem {
  background-color: crimson;
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
}

.deleteItem:hover {
  opacity: 0.8;
  cursor: pointer;
}

.tableHead {
  flex: 1;
  width: 100%;
  text-align: center;
  background-color: #f09196;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.tableHead .head {
  height: 100%;
  padding: 10px 0;
}

.tableBody {
  width: 100%;
  flex: 10;
  font-weight: 500;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tableBody .table {
  padding: 25px 0;
}
.tableBody .column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableBody .body {
  width: 100%;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.1s;
}

.tableBody .body:nth-child(even) {
  background-color: #f0919623;
}

.tableBody .body:hover {
  background-color: #f0919675;
}

.imgContainer,
.img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.total {
  font-weight: bold;
}